<!DOCTYPE html>
<html lang="en">
<head>
<title>Sequelizer</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
	rel="stylesheet"></link>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.9/font-awesome-animation.css"
	rel="stylesheet"></link>
<style>
#page-wrapper {
	padding: 50px 10px 10px 10px;
	background-color: #fff;
}

#page-wrapper table {
	margin-top: 20px;
}

</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="page-wrapper">
					<div class="row">
						<div class="panel panel-primary">
							<div class="panel-body">
								<table class="table table-responsive">
									<thead>
										<th class="col-lg-2">Name</th>
										<th class="col-lg-1">Db Name</th>
										<th class="col-lg-4">CSV Name</th>
										<th class="col-lg-1">Project</th>
										<th class="col-lg-2">Last Execution</th>
									</thead>
									<tbody id="table_list">
										<tr th:each="job : ${jobs}">
											<td id="name" th:text="${job.name}"></td>
											<td id="dbName" th:text="${job.dbName}"></td>
											<td id="csvName" th:text="${job.csvName}"></td>
											<td id="project" th:text="${job.project}"></td>
											<td><span id="lastExecutionDate"
												th:text="${job.lastExecutionDate}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center"></div>
			</div>
		</div>
	</footer>
</body>

</html>